<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ img('favicon.png') }}" />
        <!--[if lte IE 9]><link rel="shortcut icon" type="image/x-icon" href="{{ img('favicon.ico') }}" /><![endif]-->
        <link href="{{ css('bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ css('main.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ url('homepage') }}">{{ "Home"|trans }}</a></li>
                        <li><a href="{{ url('upload_form') }}">{{ "Upload file"|trans }}</a></li>
                        <li><a href="{{ url('about') }}">{{ "About"|trans }}</a></li>
                    </ul>
                    <ul class="nav pull-right language">
                        {% for locale in app.translator.available_locales %}
                        <li{% if locale == app.translator.locale %} class="selected"{% endif %}><a href="{{ url('language', { 'locale': locale }) }}">{{ locale }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        
        <footer>
            OpenShareFile - MIT License
        </footer>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ js('bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ js('main.js') }}"></script>
    </body>
</html>
