{% extends "layout.html.twig" %}

{% block title %}OpenShareFileFile - {{ "Download" }}{% endblock %}

{% block stylesheets %}
    <style>
        .download:after {
            content: "{{ "Download"|trans|e('css') }}";
        }
    </style>
{% endblock %}

{% block content %}
    <div class="block-detail download">
        
        <div class="">
            {% if upload.passwd != '' %}
                {% if form.password.vars.errors|length %}
            <div class="alert alert-error">
                {{ form_errors(form.password) }}
            </div>
                {% endif %}  
            {% endif %}  
            <form action="{{ url('download_submit') }}" method="post">
                {% for file in files %}
                <div class="file">
                    <button type="submit" class="btn" name="form[file_{{ file.slug }}]" value="1">
                        {{ file.filename }}
                    </button>
                </div>
                {% endfor %}
                
                {% if get_config('allow_zip') and not upload.crypt and (files | length > 1) %}
                <div class="zip">
                    <button type="submit" class="btn" name="form[zip]" value="1">
                        {{ "Download all files in a ZIP file"|trans }}
                    </button>
                </div>
                {% endif %}  
                
                {{ form_widget(form.slug) }}
                {{ form_widget(form._token) }}
                
                {% if upload.passwd != '' %}
                <div class="passwd">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}